<table class="table-auto">
  <caption><%= estimates.count %> <%= "estimate".pluralize %></caption>
  <thead>
    <tr class="bg-slate-200 border-y">
      <th></th>
      <th></th>
      <th>Expert</th>
      <th>Project</th>
      <th class="px-4">Minimum<br>magnitude</th>
      <th class="px-4">Likely<br>magnitude</th>
      <th class="px-4">Maximum<br>magnitude</th>
      <th class="px-4">Minimum<br>frequency</th>
      <th class="px-4">Likely<br>frequency</th>
      <th class="px-4">Maximum<br>frequency</th>
      <th class="px-4">Minimum<br>risk</th>
      <th class="px-4">Likely<br>risk</th>
      <th class="px-4">Maximum<br>risk</th>
    </tr>
  </thead>
  <tbody class="border-y">
    <% estimates.each do |estimate| %>
      <tr>
        <td><%= link_to "ðŸ”Ž", estimate, class: "py-3 px-2" %></td>
        <td><%= link_to "ðŸ“", edit_estimate_path(estimate), class: "py-3 px-2" %></td>
        <td class="border-x px-2"><%= estimate.expert.name %></td>
        <td class="border-x px-2"><%= estimate.project.name %></td>
        <td class="border-x text-center"><%= estimate.min_magnitude %></td>
        <td class="border-x text-center"><%= estimate.likely_magnitude %></td>
        <td class="border-x text-center"><%= estimate.max_magnitude %></td>
        <td class="border-x text-center"><%= estimate.min_frequency %></td>
        <td class="border-x text-center"><%= estimate.likely_frequency %></td>
        <td class="border-x text-center"><%= estimate.max_frequency %></td>
        <td class="border-x text-center"><%= estimate.scenario_min.round(3) %></td>
        <td class="border-x text-center"><%= estimate.scenario_mode.round(3) %></td>
        <td class="border-x text-center"><%= estimate.scenario_max.round(3) %></td>
      </tr>
    <% end %>
  </tbody>
</table>