<%= form_with(model: estimate, class: "contents", data:{ controller: "estimate" }) do |form| %>
  <% if estimate.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(estimate.errors.count, "error") %> prohibited this estimate from being saved:</h2>

      <ul>
        <% estimate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :expert_id %>
    <%= form.collection_select :expert_id, Expert.order(:name), :id, :name, prompt: "Select an expert", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :project_id %>
    <%= form.collection_select :project_id, Project.order(:name), :id, :name, prompt: "Select a Project", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :min_magnitude %>
    <%= form.number_field :min_magnitude, data: { action: "change->estimate#updateLikelyMagnitude", "estimate-target": "minMagnitude" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :likely_magnitude %>
    <%= form.range_field :likely_magnitude, data: { action: "input->estimate#updateLikelyMagnitude", "estimate-target": "likelyMagnitude" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
    <output for="estimate_likely_magnitude" data-estimate-target="likelyMagnitudeOutput"></output>
  </div>

  <div class="my-5">
    <%= form.label :max_magnitude %>
    <%= form.number_field :max_magnitude, data: { action: "change->estimate#updateLikelyMagnitude", "estimate-target": "maxMagnitude" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :min_frequency %>
    <%= form.number_field :min_frequency, step: 0.1, data: { action: "change->estimate#updateLikelyFrequency", "estimate-target": "minFrequency" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
  </div>

  <div class="my-5">
    <%= form.label :likely_frequency %>
    <%= form.range_field :likely_frequency, step: 0.1, data: { action: "input->estimate#updateLikelyFrequency", "estimate-target": "likelyFrequency" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
    <output for="estimate_likely_frequency" data-estimate-target="likelyFrequencyOutput"></output>
  </div>

  <div class="my-5">
    <%= form.label :max_frequency %>
    <%= form.number_field :max_frequency, step: 0.1, data: { action: "change->estimate#updateLikelyFrequency", "estimate-target": "maxFrequency" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
