<%= form_with(model: estimate, class: "contents", data:{ controller: "estimate" }) do |form| %>
  <% if estimate.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(estimate.errors.count, "error") %> prohibited this estimate from being saved:</h2>

      <ul>
        <% estimate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table><!-- I know this is a sin, but I don't care. It's just a prototype. -->
    <tr>
      <th class="px-5">
        <%= form.label :expert_id %>
      </th>
      <th class="px-5">
        <%= form.label :project_id %>
      </th>
    </tr>
    <tr>
      <td class="py-2 px-5">
        <%= form.collection_select :expert_id, Expert.order(:name), :id, :name, prompt: "Select an expert", class: "block shadow rounded-md border border-gray-200 outline-none" %>
      </td>

      <td class="py-2 px-5">
        <%= form.collection_select :project_id, Project.order(:name), :id, :name, prompt: "Select a Project", class: "block shadow rounded-md border border-gray-200 outline-none" %>
      </td>
    </tr>

    <tr>
      <th class="px-5">
        <%= form.label :min_magnitude %>
      </th>
      <th class="px-5">
        <%= form.label :likely_magnitude %>
      </th>
      <th class="px-5">
        <%= form.label :max_magnitude %>
      </th>
    </tr>

    <tr>
      <td class="py-2 px-5">
        <%= form.number_field :min_magnitude, data: { action: "change->estimate#updateLikelyMagnitude", "estimate-target": "minMagnitude" }, class: "block-inline shadow rounded-md border border-gray-200 outline-none2" %>
      </td>

      <td class="py-2 px-5">
        <%= form.range_field :likely_magnitude, data: { action: "input->estimate#updateLikelyMagnitude", "estimate-target": "likelyMagnitude" }, class: "block-inline shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
        <output for="estimate_likely_magnitude" data-estimate-target="likelyMagnitudeOutput"></output>
      </td>

      <td class="py-2 px-5">
        <%= form.number_field :max_magnitude, data: { action: "change->estimate#updateLikelyMagnitude", "estimate-target": "maxMagnitude" }, class: "block-inline shadow rounded-md border border-gray-200 outline-none" %>
      </td>
    </tr>

    <tr>
      <th class="px-5">
        <%= form.label :min_frequency %>
      </th>
      <th class="px-5">
        <%= form.label :likely_frequency %>
      </th>
      <th class="px-5">
        <%= form.label :max_frequency %>
      </th>
    </tr>
    <tr>
      <td class="py-2 px-5">
        <%= form.number_field :min_frequency, step: 0.1, data: { action: "change->estimate#updateLikelyFrequency", "estimate-target": "minFrequency" }, class: "block-inline shadow rounded-md border border-gray-200 outline-none" %>
      </td>

      <td class="py-2 px-5">
        <%= form.range_field :likely_frequency, step: 0.1, data: { action: "input->estimate#updateLikelyFrequency", "estimate-target": "likelyFrequency" }, class: "block-inline shadow rounded-md border border-gray-200 outline-none px-3 py-2" %>
        <output for="estimate_likely_frequency" data-estimate-target="likelyFrequencyOutput"></output>
      </td>

      <td class="py-2 px-5">
        <%= form.number_field :max_frequency, step: 0.1, data: { action: "change->estimate#updateLikelyFrequency", "estimate-target": "maxFrequency" }, class: "block-inline shadow rounded-md border border-gray-200 outline-none" %>
      </td>
    </tr>
  </table>

  <div class="inline-block mt-8">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
