<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @estimate %>

    <%= link_to 'Edit this estimate', edit_estimate_path(@estimate), class: "btn btn-primary" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this estimate', estimate_path(@estimate), method: :delete, class: "btn btn-warning" %>
    </div>
    <%= link_to 'Back to estimates', estimates_path, class: "btn" %>
  </div>
</div>
