<div id="<%= dom_id metric %>">
  <table>
    <tr>
      <th>Name</th>
      <td><%= metric.name %></td>
    </tr>
    <tr>
      <th>Value</th>
      <td><%= metric.value %></td>
    </tr>
    <tr>
      <th>Kind</th>
      <td><%= metric.kind.titleize %></td>
    </tr>
    <tr>
      <th>Project</th>
      <td><%= metric.project.name %></td>
    </tr>
  </table>

  <% if action_name != "show" %>
    <%= link_to "Show this metric", metric, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this metric', edit_metric_path(metric), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
