<table class="table-auto">
  <caption><%= @project.estimates.count %> <%= "estimate".pluralize %></caption>
  <thead>
    <tr class="bg-slate-200 border-y">
      <th>Expert</th>
      <th class="px-2">Minimum<br>magnitude</th>
      <th class="px-2">Likely<br>magnitude</th>
      <th class="px-2">Maximum<br>magnitude</th>
      <th class="px-2">Minimum<br>frequency</th>
      <th class="px-2">Likely<br>frequency</th>
      <th class="px-2">Maximum<br>frequency</th>
    </tr>
  </thead>
  <tbody class="border-y">
    <% @project.estimates.each do |estimate| %>
      <tr>
        <td class="border-x px-2"><%= estimate.expert.name %></td>
        <td class="border-x text-center"><%= estimate.min_magnitude %></td>
        <td class="border-x text-center"><%= estimate.likely_magnitude %></td>
        <td class="border-x text-center"><%= estimate.max_magnitude %></td>
        <td class="border-x text-center"><%= estimate.min_frequency %></td>
        <td class="border-x text-center"><%= estimate.likely_frequency %></td>
        <td class="border-x text-center"><%= estimate.max_frequency %></td>
      </tr>
    <% end %>
  </tbody>
</table>