<div id="<%= dom_id project %>" class="my-4">
  <h1 class="text-4xl font-bold text-center pt-10 pb-5"><%= project.name %></h1>

  <div class="text-center py-4">
    <span class="btn btn-primary"><%= link_to 'Edit this project', edit_project_path(@project) %></span>
    <span class="btn btn-warning"><%= button_to 'Destroy this project', project_path(@project), method: :delete %></span>
    <span class="btn"><%= link_to 'Back to projects', projects_path %></span>
  </div>

  <table class="table">
    <caption>Summary of estimates</caption>
    <tr>
      <th><!-- deliberately empty for layout --></th>
      <th>Magnitude</th>
      <th>Frequency</th>
      <th>Risk</th>
    </tr>
    <tr>
      <th>Minimum</th>
      <td><%= project.min_of_min_magnitudes&.round(3) || "-" %>
      <td><%= project.min_of_min_frequencies&.round(3) || "-" %>
      <td><%= project.min_of_min_risks&.round(3) || "-" %>
    </tr>
    <tr>
      <th>Avg likely</th>
      <td><%= project.average_of_likely_magnitudes&.round(3) || "-" %>
      <td><%= project.average_of_likely_frequencies&.round(3) || "-" %>
      <td><%= project.average_of_risk_modes&.round(3) || "-" %>
    </tr>
    <tr>
      <th>Maximum</th>
      <td><%= project.max_of_max_magnitudes&.round(3) || "-" %>
      <td><%= project.max_of_max_frequencies&.round(3) || "-" %>
      <td><%= project.max_of_max_risks&.round(3) || "-" %>
    </tr>
  </table>
</div>
