<table class="table table-compact mx-auto w-full">
  <caption>Projects</caption>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Estimates</th>
      <th>Min magn.</th>
      <th>Avg likely magn.</th>
      <th>Max magn.</th>
      <th>Min freq.</th>
      <th>Avg likely freq.</th>
      <th>Max freq.</th>
    </tr>
  </thead>
  <tbody class="border-y">
    <% @projects.each do |project| %>
      <tr class="hover">
        <td><%= link_to "ðŸ”Ž", project %></td>
        <td><%= link_to "ðŸ“", edit_project_path(project) %></td>
        <td><%= project.name %></td>
        <td><%= project.estimates.count %></td>
        <td><%= project.min_of_min_magnitudes.round(3) || "-" %></td>
        <td><%= project.average_of_likely_magnitudes.round(3) || "-" %></td>
        <td><%= project.max_of_max_magnitudes.round(3) || "-" %></td>
        <td><%= project.min_of_min_frequencies.round(3) || "-" %></td>
        <td><%= project.average_of_likely_frequencies.round(3) || "-" %></td>
        <td><%= project.max_of_max_frequencies.round(3) || "-" %></td>
      </tr>
    <% end %>
  </tbody>
</table>