<div id="<%= dom_id project %>" class="my-4">
  <h1 class="text-4xl font-bold text-center pt-10 pb-5"><%= project.name %></h1>

  <div class="text-center py-4">
    <span class="ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"><%= link_to 'Edit this project', edit_project_path(@project) %></span>
    <span class="ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"><%= button_to 'Destroy this project', project_path(@project), method: :delete %></span>
    <span class="ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"><%= link_to 'Back to projects', projects_path %></span>
  </div>

  <table>
    <caption>Summary of estimates</caption>
    <tr>
      <th class="px-16"><!-- deliberately empty for layout --></th>
      <th class="px-12 bg-slate-200 border-x">Magnitude</th>
      <th class="px-12 bg-slate-200 border-x">Frequency</th>
    </tr>
    <tr>
      <th class="bg-slate-200 border-y">Minimum</th>
      <td class="text-center border"><%= project.min_of_min_magnitudes || "-" %>
      <td class="text-center border"><%= project.min_of_min_frequencies || "-" %>
    </tr>
    <tr>
      <th class="bg-slate-200 border-y">Avg likely</th>
      <td class="text-center border"><%= project.average_of_likely_magnitudes || "-" %>
      <td class="text-center border"><%= project.average_of_likely_frequencies || "-" %>
    </tr>
    <tr>
      <th class="bg-slate-200 border-y">Maximum</th>
      <td class="text-center border"><%= project.max_of_max_magnitudes || "-" %>
      <td class="text-center border"><%= project.max_of_max_frequencies || "-" %>
    </tr>
  </table>
</div>
