<table class="table-auto mx-auto w-full">
  <caption>Projects</caption>
  <thead>
    <tr class="bg-slate-200 border-y">
      <th class="py-2"></th>
      <th class="py-2"></th>
      <th class="py-2">Name</th>
      <th class="py-2">Estimates</th>
      <th class="py-2">Minimum<br>magnitude</th>
      <th class="py-2">Avgerage likely<br>magnitude</th>
      <th class="py-2">Maximum<br>magnitude</th>
      <th class="py-2">Minimum<br>frequency</th>
      <th class="py-2">Average likely<br>frequency</th>
      <th class="py-2">Maximum<br>frequency</th>
    </tr>
  </thead>
  <tbody class="border-y">
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to "ðŸ”Ž", project, class: "py-3 px-2" %></td>
        <td><%= link_to "ðŸ“", edit_project_path(project), class: "py-3 px-2" %></td>
        <td class="border-x"><%= project.name %></td>
        <td class="border-x text-center"><%= project.estimates.count %></td>
        <td class="border-x text-center"><%= project.min_of_min_magnitudes.round(3) || "-" %></td>
        <td class="border-x text-center"><%= project.average_of_likely_magnitudes.round(3) || "-" %></td>
        <td class="border-x text-center"><%= project.max_of_max_magnitudes.round(3) || "-" %></td>
        <td class="border-x text-center"><%= project.min_of_min_frequencies.round(3) || "-" %></td>
        <td class="border-x text-center"><%= project.average_of_likely_frequencies.round(3) || "-" %></td>
        <td class="border-x text-center"><%= project.max_of_max_frequencies.round(3) || "-" %></td>
      </tr>
    <% end %>
  </tbody>
</table>