<div id="<%= dom_id project %>" class="my-4">
  <table>
    <tr class="my-5">
      <th class="text-left px-4">Name</th>
      <td class="text-left"><%= project.name %></td>
    </tr>
    <tr>
      <th class="text-left px-4">Estimates</th>
      <td class="text-left"><%= project.estimates.count %></td>
    </tr>
    <tr>
      <th class="text-left px-4">Min magnitude</th>
      <td class="text-left"><%= project.min_of_min_magnitudes %>
    </tr>
    <tr>
      <th class="text-left px-4">Avg likely magnitude</th>
      <td class="text-left"><%= project.average_of_likely_magnitudes %>
    </tr>
    <tr>
      <th class="text-left px-4">Max magnitude</th>
      <td class="text-left"><%= project.max_of_max_magnitudes %>
    </tr>
    <tr>
      <th class="text-left px-4">Min frequency</th>
      <td class="text-left"><%= project.min_of_min_frequencies %>
    </tr>
    <tr>
      <th class="text-left px-4">Avg likely frequency</th>
      <td class="text-left"><%= project.average_of_likely_frequencies %>
    </tr>
    <tr>
      <th class="text-left px-4">Max frequency</th>
      <td class="text-left"><%= project.max_of_max_frequencies %>
    </tr>
  </table>

  <div>
    <% if action_name != "show" %>
      <%= link_to "Show this project", project, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this project', edit_project_path(project), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</div>
<% if action_name != "show" %>
  <hr class="mt-6">
<% end %>