<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @project %>

    <%= render "plots", project: @project %>

    <%= render "estimates_summary_table", project: @project %>

    <%= render 'estimates_table' %>
  </div>
</div>
