<!DOCTYPE html>
<html>
  <head>
    <title>SEER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="w-full mx-auto text-center py-4">
      <span class="rounded-lg py-3 ml-2 px-5 bg-blue-800 text-white inline-block font-medium"><%= link_to "Experts", experts_path %></span>
      <span class="rounded-lg py-3 ml-2 px-5 bg-blue-800 text-white inline-block font-medium"><%= link_to "Projects", projects_path %></span>
      <span class="rounded-lg py-3 ml-2 px-5 bg-blue-800 text-white inline-block font-medium"><%= link_to "Estimates", estimates_path %></span>
    </nav>
    <main class="container mx-auto px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
